# Gradle
.gradle
build/
app/build/
!gradle/wrapper/gradle-wrapper.jar

# IDEs
.idea/
*.iml
.vscode/
.project
.classpath
.settings/
bin/
*.sh
*.bat

# OS specific
.DS_Store
Thumbs.db

# Project specific
greenthread.db
*.db-journal
